@charset "utf8";
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 44, 23);
}

footer{
    background-color: black;
}


body{
    background-image: linear-gradient(to right, #164773
    , #1a1b6de0);
}

main{
    background-color: rgb(0, 108, 216);
}