@charset "utf8";

:root{
    --cor0: #fff;
    --cor1: #005EE1;
    --cor2: #285aa1;
    --cor3: #304561;
    --cor4: #262C33;
    --cor5: #000;

    --font-padrão: Arial, Helvetica, sans-serif;
    --font-02:'Times New Roman', Times, serif;
}

