@charset "utf8";

/*
#285AA1
#005EE1
#304561
#262C33
#fff
*/

:root{
    --cor0: #fff;
    --cor1: #005EE1;
    --cor2: #285aa1;
    --cor3: #304561;
    --cor4: #262C33;
    --cor5: #000;

    --font-padrão: Arial, Helvetica, sans-serif;
    --font-02:'Times New Roman', Times, serif;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
}

h2{
    font-family:'Times New Roman', Times, serif;
    background-color: #005EE1;
    border-radius: 35px;
    text-align: center;
    color:#fff;
}

main{
    border-radius: 30px;
    color: #fff;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans;
    border-radius: 35px;
    background-color: #000;
}

img{
    border-radius: 10px;
}
