@charset "utf8";

:root{
    --cor0: #fff;
    --cor1: #005EE1;
    --cor2: #285aa1;
    --cor3: #304561;
    --cor4: #262C33;
    --cor5: #000;

    --font-padrão: Arial, Helvetica, sans-serif;
    --font-02:'Times New Roman', Times, serif;
}


/* Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor5);
}

.interface{
    max-width: 1280px;
    margin: auto;
}

/* Estilo Cabeçalho*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}